/*root variables*/

:root{
    --topbar-height: 5vmin;
    --topbar-width: 100vw;
    --list-title-height: var(--topbar-height);
}

/*main page styles*/

#main-page {
    background-color: #e1ffff;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: var(--topbar-height) calc(100vh - var(--topbar-height));
    grid-template-areas:
        "topbar"
        "msgdispbox"
        "msginpbox";
}

#main-page > * {
    background-color: #000;
}

#main-page > #top-bar {
    grid-area: topbar;
    display: grid;
    grid-template-columns: var(--topbar-height) calc(80% - var(--topbar-height)) 20%;
    background-color: #e1ffff;
    height: var(--topbar-height);
}

#main-page > #top-bar > * {
    background-color: #000;
    height: var(--topbar-height);
}

#top-left > * {
    display: inline-block;
}

#main-page > #chat-list-area {
    display: grid;
    grid-template-columns: calc(100% / 3) calc(100% / 3) calc(100% / 3);
    box-shadow: inset .25em .25em .25em #000;
}

#main-page > #chat-list-area > * {
    display: grid;
    grid-template-columns: 100%;
    background-color: #333;
    box-shadow: inset .25em .25em .5em #000;
    padding: 2vmin;
}

/*list styles*/

.list-title {
    width: 100%;
    height: var(--list-title-height);
    display: flex;
    background-color: #000;
    color: #e1ffff;
}

.list-title-ico {
    height: calc(var(--list-title-height) - 1vmin);
    width: calc(var(--list-title-height) - 1vmin);
    margin: .5vmin;
    border-radius: 1vmin;
    background-color: inherit;
    border: none;
    background-size: 100%;
}

button.list-title-ico:hover {
    border-radius: 0;
    background-color: #888;
}

/*corner-logo styles*/

.corner-logo {
    height: calc(var(--topbar-height) - 1vmin);
    width: calc(var(--topbar-height) - 1vmin);
    margin: .5vmin;
    border-radius: 1vmin;
    background-color: inherit;
    border: none;
    background-size: 100%;
}

button.corner-logo:hover {
    border-radius: 0;
    background-color: #888;
}

/*tooltip styles*/

[data-tooltip]:before {
    content: attr(data-tooltip);
    position: absolute;
    opacity: 0;
    transition: all 0.15s ease;
    padding: .5vmin;
    color: #e1ffff;
    border-radius: 1vmin;
    font-size: 2vmin;
    line-height: 2vmin;
    pointer-events: none;
}

[data-tooltip]:hover:before {
    /* needed - do not touch */
    opacity: 1;

    /* customizable */
    background: #333;
    margin-top: 1vmin;
    margin-left: 1vmin;
}
