* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: none;
    -ms-overflow-style: none;
    font-family: 'fixedsys', ariel, serif, auto;
    transition: all .3s linear;
    font-size: 2.5vmin;
}

*::-webkit-scrollbar {
    width: 0;
}

:root {
    --grp-chat-list-width: 5vmin;
    --dm-chat-list-width: 5vmin;
    --msg-box-height: 7vmin;
    --msg-inp-height: 4vmin;
    --topbar-height: 5vmin;
    --topbar-width: calc(100vw - var(--dm-chat-list-width) - var(--grp-chat-list-width) - 2px);
}

@font-face {
    font-family: 'fixedsys';
    src: url('https://purusidcontent.github.io/ttf/fixedsys.ttf');
    font-weight: normal;
    font-style: normal;
}

#page {
    background-color: #e1ffff;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: var(--grp-chat-list-width) var(--dm-chat-list-width) var(--topbar-width) calc(100vw - var(--topbar-width) - var(--dm-chat-list-width) - var(--grp-chat-list-width));
    grid-template-rows: var(--topbar-height) calc(100vh - var(--topbar-height) - var(--msg-box-height)) var(--msg-box-height);
    grid-template-areas:
        "profile-photo topbar topbar topbar"
        "grp-chat-list dm-chat-list msgdispbox msgdispbox"
        "grp-chat-list dm-chat-list msginpbox msginpbox";
    grid-gap: 1px;
}

#page > * {
    background-color: #000;
}

#page > #top-bar {
    grid-area: topbar;
    display: grid;
    grid-template-columns: calc(80% - 1px) 20%;
    grid-gap: 1px;
    background-color: #e1ffff;
    height: var(--topbar-height);
}

#page > #top-bar > * {
    background-color: #000;
    height: var(--topbar-height);
}

#top-left > * {
    display: inline-block;
}

#page > #left-bar {
    grid-area: leftbar;
}

#page > #msg-disp-box {
    grid-area: msgdispbox;
}

#page > #msg-inp-box {
    grid-area: msginpbox;
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-rows: 100%;
    grid-template-areas:
        "msginp additionalfeatures"
}

#page > #dm-chat-list {
    grid-area: dm-chat-list;
    background-color: #21232f;
}

#page > #grp-chat-list {
    grid-area: grp-chat-list;
}

#page > #profile-photo {
    grid-area: profile-photo;
}

#top-bar > * {
    display: inline-block;
}

.corner-logo {
    height: calc(var(--topbar-height) - 1vmin);
    width: calc(var(--topbar-height) - 1vmin);
    margin: .5vmin;
    border-radius: 1vmin;
    background-color: #e1ffff;
    border: none;
    color: #333;
    background-size: 100%;
}

button.corner-logo:hover{
    border-radius: 0;
}

#page > #msg-inp-box > #msg-inp-container {
    grid-area: msginp;
    background-color: #000;
    padding: calc((var(--msg-box-height) - var(--msg-inp-height)) / 2);
    display: grid;
    grid-template-columns: calc(100% - var(--msg-inp-height)) var(--msg-inp-height);
}

#page > #msg-inp-box > #msg-inp-container > #msg {
    font-size: 2vmin;
    line-height: 2vmin;
    height: var(--msg-inp-height);
    width: 100%;
    display: inline-block;
    border-radius: 1vmin;
    border: 1px solid #e1ffff;
    outline: none;
    resize: none;
    padding: calc(1vmin - 2px);
    overflow: scroll;
    background-color: #000;
    color: #e1ffff;
}

#send {
    background-color: #000;
    border: 1px solid #e1ffff;
    border-radius: 1vmin;
    background-image: url('../png/sendbtn.png');
    background-size: 100%;
}

#send:hover {
    background-color: #888;
}

#page > #msg-inp-box > #additionalfeatures {
    grid-area: additionalfeatures;
    background-color: #888;
    border: none;
    margin: 2vmin;
}

[data-tooltip]:before {
    /* needed - do not touch */
    content: attr(data-tooltip);
    position: absolute;
    opacity: 0;
    
    /* customizable */
    transition: all 0.15s ease;
    padding: .5vmin;
    color: #e1ffff;
    border-radius: 1vmin;
    font-size: 2vmin;
    line-height: 2vmin;
}

[data-tooltip]:hover:before {
    /* needed - do not touch */
    opacity: 1;
    
    /* customizable */
    background: #333;
    margin-top: 1vmin;
    margin-left: 1vmin;
}