* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: none;
    -ms-overflow-style: none;
    font-family: 'fixedsys', ariel, serif, auto;
    transition: all .3s linear;
    font-size: 2.5vmin;
    z-index: inherit;
}

*::-webkit-scrollbar {
    width: 0;
}

:root {
    --topbar-height: 5vmin;
    --topbar-width: 100vw;
    --dm-list-width: 20vw;
    --grp-chat-width: 20vw;
}

@font-face {
    font-family: 'fixedsys';
    src: url('https://purusidcontent.github.io/ttf/fixedsys.ttf');
    font-weight: normal;
    font-style: normal;
}

#page {
    background-color: #e1ffff;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: var(--topbar-height) calc(100vh - var(--topbar-height) - var(--msg-box-height)) var(--msg-box-height);
    grid-template-areas:
        "topbar"
        "msgdispbox"
        "msginpbox";
}

#page > * {
    background-color: #000;
}